@model VMS.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/Images/Icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/animsition.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/daterangepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/util1.css">
    <link rel="stylesheet" type="text/css" href="~/Content/main1.css">
    <title>VMS</title>
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-form-title" style="background-image: url(Images/iStock-512058184_cixswr.jfif);">
                    <span class="login100-form-title-1">
                        Sign-In
                    </span>
                </div>
                @using (Html.BeginForm("Home", "App", FormMethod.Post, new { @class = "login100 - form validate - form" }))
                { 
                
                    <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                        <span class="label-input100">Username</span>
                        @Html.TextBox("UserId", Model, new { @class = "input100", @placeholder= "Enter username"})
                        <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
                        <span class="label-input100">Password</span>
                        @Html.Password("Passwd", Model, new { @class = "input100", @placeholder = "Enter username" })
                        <span class="focus-input100"></span>
                    </div>

                    <div class="flex-sb-m w-full p-b-30">
                        <div class="contact100-form-checkbox">
                            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                            <label class="label-checkbox100" for="ckb1">
                                Remember me
                            </label>
                        </div>

                        <div>
                            <a href="pass.html" class="txt1">
                                Forgot Password?
                            </a>
                        </div>

                        <div>
                            <a href="registration.html" class="txt1">
                                Register Here
                            </a>
                        </div>
                    </div>
                    <span> <span style="color:red"> @ViewBag.ErrMsg</span><br /> </span>
                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>
                }
        </div>
    </div>
    </div>
    
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/animsition.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/select2.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/daterangepicker.js"></script>
    <script src="~/Scripts/countdowntime.js"></script>
   
</body>
</html>
